* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-social {
    width: 70px;
    height: 70px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
    cursor: pointer;
    border-radius:10px;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
}

.ctn-social span:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-social:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
}

.ctn-social:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.ctn-social:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.ctn-social:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.ctn-social:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.ctn-social:nth-child(1) span {
    background: #3b5999;
}

.ctn-social:nth-child(2) span {
    background: #55acee;
}

.ctn-social:nth-child(3) span {
    background: #dd4b39;
}

.ctn-social:nth-child(4) span {
    background: #0077b5;
}

.ctn-social:nth-child(5) span {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}